.textoPrincipal {
    background-image: url(../assets/Imagenes/fondociudad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 55vh;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 30px black;
  }
  
  .index__text_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10vh;
  }
  
  .textoAyudamos {
    color: white;
    background-color: $violeta;
    border-radius: 10px;
    padding: 1%;
    display: flex;
    justify-content: center;
    width: 30vh;
    height: 22vh;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    margin: 1vh;
  }
  
  .textoEmpresa {
    color: #ffffff;
    background-color: #36a59f86;
    border-radius: 10px;
    padding: 1%;
    display: flex;
    width: 100vh;
    height: 22vh;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    margin: 1vh;
  }
  
  .soportePersonalizado {
    color: #00000075;
    background-color: white;
    width: 30vh;
    height: 45vh;
    padding: 1%;
    border: rgba(0, 0, 0, 0.396) 4px solid;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 8vh;
    box-shadow: 0 0 20px #797979;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .soportePersonalizado h2 {
    font-size: 1.8rem;
  }
  
  .soportePersonalizado p {
    font-size: 1rem;
  }
  
  .soportePersonalizado img:hover {
    transform: scale(1.15);
    transition: all .3s;
    filter: opacity(0.3);
  }
  
  .contenedorInfoGeneral {
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }