@media screen and (max-width: 760px) {         
         
  
    iframe {
      width: 200px;
      height: 300px;
    }                           
    .dis-none {
      display: none;  
    }    
       
  }     