@import "mixin";


.textoPrincipalNosotros {
  background-image: url(../assets/Imagenes/FondoSomosNosotros.jpg);
  @include texto-principal;

  h1 {
    font-size: 5rem;

    @media screen and (max-width: 760px) {
      font-size: 3rem;
    }
  }
}

.textoQuienesSomos {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: 24vh;
  font-size: 1.2rem;
  margin-bottom: 150px;

  h2 {
    font-size: 4rem;
    margin: 0 auto;
    color: #6b4a91;
    display: block;
    width: 60%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 150px;

    @media screen and (max-width: 760px) {
      font-size: 2rem;
    }
  }

  p {
    @media screen and (max-width: 760px) {
      font-size: .9rem;
    }
  }
}

.textoQuienesSomos .contenedorImgNosotros {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-around;
  margin: 10%;
  gap: 25px;
}

.imgNosotros {
  display: flex;
  width: 25vh;
  height: 40vh;
  filter: grayscale(100%);
  object-fit: cover;

  &:hover {
    transform: scale(1.2);
    transition: all .3s;
    filter: grayscale(0);
  }
}