/*SERVICIOS */
.textoPrincipalServicios {
    background-image: url(../assets/Imagenes/BANNERSERVICIOS.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: $flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 55vh;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: $blanco;
    font-weight: bold;
    text-shadow: 0 0 30px black;
    margin-bottom: 2%;
    h1 {
      font-size: 5rem;
    }
  }
  
  .tituloServicios {
    font-size: 2.5rem;
    text-decoration: underline 4px solid $verde;
    color: #000000bb;
  }
  
  .subtituloServicios {
    font-size: 1.8rem;
    color: #3434349e;
  }
  
  .textoServiciosIzq {
    font-size: 1rem;
    width: 80vh;
    text-align: justify;
  }
  
  .textoServiciosDer {
    font-size: 1rem;
    text-align: justify;
    width: 80vh;
  }
  
  .imagenServicios {
    display: $flex;
    width: 35vh;
  }
  
  .imagenServicios img {
    width: 35vh;
    height: 52vh;
    object-fit: cover;
  }
  
  .imagenServicios img:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    filter: opacity(0.5);
  }
  
  .imagenServiciosIzq {
    padding-left: 7vh;
    border-left: #3131315b 4px solid;
  }
  
  .imagenServiciosDer {
    padding-right: 7vh;
    border-right: #3131315b 4px solid;
  }
  
  .botonCotizarContenedor {
    display: $flex;
    justify-content: flex-end;
    width: 100%;
  }
  
  .botonCotizar a {
    color: #6b4a91;
  }
  
  .botonCotizar {
    width: fit-content;
    text-align: center;
    border-radius: 10px;
    border: solid $verde;
    font-size: 1.5rem;
    padding: 5px 40px;
  }
  
  .botonCotizar:hover {
    color: $verde;
    border-color: #6b4a91;
    background-color: #6b4a91;
    transition: all .4s;
    transform: scale(1.1);
  }
  